/* http://meyerweb.com/eric/tools/css/reset/
       v2.0 | 20110126
       License: none (public domain)
       MODIFICADO
    */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
ul,
li,
article,
aside,
footer,
header,
nav,
section {
    margin: 0;
    padding: 0px;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

ul {
    list-style: none;
}


/*MENU*/
nav{
    font-family: 'Quicksand', sans-serif !important;
}
a,
a:link,
a:visited {
    color: #555 !important;
    transition: .2s color ease-in-out;
    text-align: center;
}

a:hover,
a:active {
    color: #00e7b4 !important;
    text-decoration: none;
}


/*styling the header part*/

.toggle-menu {
    display: none;
}

header {
    margin: 35px 55px 50px 55px;
}
.site-title{
  font-size: 18px;
}
.site-title img {
    max-width: 420px;
    display: block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.nav-list {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.nav-list > li {
    position: relative;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif !important;
    /*font-weight: 550;*/
    letter-spacing: .1em;
}

.nav-list>li:not(.has-logo)>a {
    text-transform: uppercase;
    display: block;
    padding: 1rem;
}

.nav-list a:hover {
    text-decoration: none;
    color: #00e7b4;
}

.mobile-display {
    display: none;
}

.marca-logo{
    width:45%;
}

.modal-header{
    background: #00e7b4;
}
h4.modal-title.text-center.acessibilidade{
    margin-left: auto;
    font-size: 35px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: white;
}
.button.close span{
    color: white;
}
.redes{
    background-color: #fff;
    height: 55px;
    width: 55px;
    border-radius: 15px;
}
.redes:hover{
  text-decoration: none;
  background-color: #00e7b4;

}
.active-menu{
    text-decoration: underline;
}
button.btn.btn-info.acessibilidade.btn-block{
    background: #00e7b4;
    margin-left: auto;
    /* font-size: 35px; */
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: white;
}

@media only screen and (max-width: 1050px) {
    html {
        font-size: 15px;
    }
    body {
        width: 100%;
    }
    .has-logo {
        display: none;
    }
    .mobile-display {
        display: block;
        margin: 2rem auto;
        text-align: center
    }
}

@media only screen and (max-width: 764px) {
    html {
        font-size: 14px;
    }
    body {
        width: 100%;
    }
    .has-logo {
        display: none;
    }
    .mobile-display {
        display: block;
        text-align: center;
    }
}

@media only screen and (max-width:680px) {
    html {
        font-size: 15px;
    }
    .site-title img {
        max-width: 200px;
        display: inline-block;
        vertical-align: right;
    }
    .toggle-menu {
        display: block;
        max-width: -webkit-min-content;
        max-width: -moz-min-content;
        max-width: min-content;
        margin: 1rem auto;
        background-color: #00e7b4;
        text-align: center;
        color: #fff !important;
        padding: 15px 20px 15px 20px;
        border: .25em;
    }
    .toggle-menu:hover {
        text-decoration: none;
    }
    .nav-list {
        display: block;
        width: 100%;
        position: static;
        line-height: 1rem;
        z-index: 1012;
        left: 0;
        top: 0;
        background-color: #fff;
        max-height: 0;
        overflow: hidden;
    }
    .active {
        max-height: 100%;
        overflow: auto;
    }
}


/*FIM DO MENU */
.badge-info{
    background: #00e7b4 !important;
}
