div.container-fluid.sobre{
	background: #fff;
	width:100%;
	margin-top:-30px;
	background-position: center top;
	position: relative;
}
.sobre h1{
	font-size: 32px;
	font-weight: bold;
	line-height: 130px;
	color: #000;
}
.sobre h2{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}
.sobre h3{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}
.sobre hr{
	color: #00e7b4;
    background-color: #00e7b4;
    height: 1px;
    width: 100px;
	text-align: left; /* Para o IE */
	margin: 0 auto 0 0; /* Para navegadores standard */

}
.sobre p.sobre-1{
	font-size: 22px;
	width: 800px;
}
.resume{
	font-size: 32px;
	margin-bottom: 25px;
	line-height: 1.2;
	 font-weight: 400;
	  width: 700px;
}
@media (max-width: 575.98px) {
	div.container-fluid.sobre{
		padding: 25px !important;
	}
	.resume{
		padding: 0px;
		width: 100%;
	}
	.graduacao{
		color: rgba(0,0,0,0.4);
	}
	.sobre p.sobre-1{
		width: 100%;
	}
	p.portfolio{
		font-size: 30px !important;
	}
	#seta{
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	div.container-fluid.sobre{
		padding: 54px !important;
	}
	.graduacao{
		display: block;
		font-size: 20px;
		color: rgba(0,0,0,0.4);
		font-weight: 100;
	}
	.sobre p.sobre-1{
		width: 100%;
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	div.container-fluid.sobre{
		padding: 94px !important;
	}
	.graduacao{
		display: block;
		font-size: 20px;
		color: rgba(0,0,0,0.4);
		font-weight: 100;
	}
}
@media (min-width: 1200px) and (max-width: 1992.98px) {
	div.container-fluid.sobre{
		padding: 94px !important;
	}
	.graduacao{
		display: block;
		font-size: 20px;
		color: rgba(0,0,0,0.4);
		font-weight: 100;
	}
}
