/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public do)
   MODIFICADO
*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote,
a, ul, li, article, aside, footer, header, nav, section {
	margin: 0;	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, footer, header, nav, section {
	display: block;
}
ul {
	list-style: none;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quicksand:700');
html, body{
	font-family: 'Open Sans', sans-serif;

}
p{
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-size: 30px;
}
p.portfolio{
  font-size: 1.2em;
  font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 8px;
  color: #000;
  letter-spacing: 10px;
}
p.portfolio-1{
	font-size: 22px;
	margin: 0 auto;
}
p.portfolio-2{
	font-size: 1em;
	margin: 0 auto;
	color: #fff
}

/* MAIN */
p, li {
	font-family: 'Quicksand', sans-serif !important;
}
#fundo-li-habilidades{
	background-color: #f7f7f7fa !important;
	font-family: 'Quicksand', sans-serif !important;
}
.container-fluid{
	overflow: hidden !important;
	padding: 0px !important;
}
div.container-fluid.topo{
	padding: 94px !important;
	background: #00e7b4;
	width:100%;
	margin-top:-30px;
	background-position: center top;
	position: relative;
}
.topo h1{
	font-size: 155px;
	font-weight: bold;
	line-height: 130px;
	color: #000;
}
.topo h2{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}
.topo h3{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}
.main hr{
	color: #00e7b4;
    background-color: #00e7b4;
    height: 1px;
    width: 100px;
}
div.container-fluid.main{
	padding: 90px !important;
	/*background: #700029;*/
}
h3.portfolio{
	font-size: 4.0em;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 8px;
  letter-spacing: 10px;
}
h3.portfolio-1{
	color: #000;
}
h3.portfolio-2{
	color: #00e7b4;
}
p.portfolio{
  font-size: 1.2em;
  font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 8px;
  color: #000;
  letter-spacing: 10px;
}
p.portfolio-1{
	font-size: 22px;
	width: 800px;
	margin: 0 auto
}
p.portfolio-2{
	font-size: 1em;
	width: 800px;
	margin: 0 auto;
	color: #fff
}
.card{
	width: 100%;
	border-radius: 0px !important;
}
.card-img-top{
	border-radius: 0px !important;
	margin: auto;
}
.img-certificado{
	width: 250px !important;
}
.img-perfil{
	width: 400px;
}
#seta{
	margin: 0 auto;
}
/* FOOTER */
div.container-fluid.rodape{
  color: #fff;
}
div.container-fluid.rodape a:hover{
	color: #000 !important;
}
.copyright{
  font-family: 'Quicksand', sans-serif;
}


/* MEDIA QUERY */
@media (max-width: 340.98px) {
	.topo h1{
		font-size: 50px !important;
		line-height: 55px;
	}
	.endereco{
		font-size: 16px !important;
	}
	.img-perfil{
		width: 300px;
	}
}
@media (max-width: 575.98px) {
  /* HEADER */
  .redes{
    width: auto !important;
  }
  /* MAIN */
  div.container-fluid.topo{
		padding: 30px 10px !important;
	}
  .topo h1{
		font-size: 60px;
		line-height: 55px;
	}
	.topo h2{
		font-size: 20px;
	}
	.topo h3{
		font-size: 20px;
	}
  div.container-fluid.main{
		padding: 20px 10px !important;
	}
  h3.portfolio-1{
		font-size: 30px;
		line-height: 55px;
	}
	h3.portfolio-2{
		font-size: 25px;
	}
	p.portfolio-1{
		font-size: 22px;
		width: 100% !important;
	}
	p.portfolio-2{
		font-size: 22px;
		width: 100% !important;
	}
  .card{
		width: 97%;
	}
	#carouselExampleIndicators{
		padding: 0px 40px;
	}
	.img-perfil{
		width: 300px;
	}
  /* FOOTER */
  div.container-fluid.rodape{
    padding: 35px 15px !important;
  }
  .endereco{
		font-size: 18px;
	}
  .copyright{
    padding: 15px 10px;
  }
	.topo h1{
		font-size: 40px !important;
		line-height: 55px;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* HEADER */
  .redes{
    width: auto !important;
  }
	#carouselExampleIndicators{
		padding: 0px 80px;
	}
	.topo h1{
		font-size: 60px !important;
		line-height: 55px;
	}
	p.portfolio-1{
		width: 100%;
	}
  /* FOOTER */
  div.container-fluid.rodape{
    padding: 35px 15px !important;
  }
  .endereco{
		font-size: 25px;
	}
  .copyright{
    padding: 20px;
	}
	.topo h1{
		font-size: 60px;
		line-height: 55px;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.topo h1{
		font-size: 90px;
		line-height: 130px;
	}
	p.portfolio-1{
    width: 100%;
  }
  /* FOOTER */
  div.container-fluid.rodape{
    padding: 35px 15px !important;
  }
  .endereco{
		font-size: 34px;
	}
  .copyright{
    padding: 20px;
  }
	#carouselExampleIndicators{
		padding: 0px 120px;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.topo h1{
		font-size: 120px;
		line-height: 130px;
	}
	p.portfolio-1{
    width: 100%;
  }
  /* FOOTER */
  div.container-fluid.rodape{
    padding: 35px 15px !important;
  }
  .endereco{
		font-size: 34px;
	}
  .copyright{
    padding: 15px;
  }
	#carouselExampleIndicators{
		padding: 0px 40px;
	}
}

@media (min-width: 1200px) and (max-width: 1992.98px) {
  /* MAIN */
  p.portfolio-1{
    width: 800px;
  }
  p.portfolio-2{
    width: 800px;
  }

  /* FOOTER */
  div.container-fluid.rodape{
  	padding: 94px !important;
  }
  .endereco{
		font-size: 34px;
	}
  .copyright{
    padding: 15px;
  }
}

@media (min-width: 1993px) {
  /* MAIN */
  p.portfolio-1{
    width: 800px;
  }
  p.portfolio-2{
    width: 800px;
  }

  /* FOOTER */
  div.container-fluid.rodape{
  	padding: 94px !important;
  }
  .endereco{
		font-size: 34px;
	}
  .copyright{
    padding: 15px;
  }
}
